
{
	margin: 0;
	padding: 0;
	font-family: 'Noto Serif', serif;
}

.container{
  max-width: 90%;
  margin: 50px auto 0;
}

.container .block{
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container .block .image{
  flex: 0 0 auto;
  width: 300px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.5);
  
}

.container .block .image img{
  width: 100%;
  transition: all .3s;
  transform: scale(1.5);
}

.container .block .image:hover img{
  transform: scale(1);
}

.container .block .content{
  flex: 0 0 auto;
  width:calc(100% - 350px);
  box-sizing: border-box;
  align-self: center;
}

.container .block .content h5{
  font-weight: 700;
  font-size: 40px;
  margin-bottom:  15px;
}

.container .block .content p{
  font-size: 16px;
}

@media screen and (min-width: 1024px){
  .container .block:nth-child(odd) .image{
    order: 1;
  }
  .container .block:nth-child(even) .image{
    order: 2;
  }
  .container .block:nth-child(odd) .content{
    order: 2;
    padding-left: 30px;
  }
  .container .mvv-block:nth-child(even) .content{
    order: 1;
    padding-right: 30px;
  }
}