{% extends 'base.html' %}
{% load static %}
{% block contenidos %}


<div class="container text-center">
    <div class="row align-items-center">
    <div class="col">
        <p class="text-center fs-3">
            Nuestra dirección postal es:<br />
        </p>
        <p class="text-start fst-italic fs-5">        
            Santiago del Estero 4535.<br />
            Barrio SITECH - 20 viviendas,<br />
            Manzana 28, Parcela 9.<br />
            Fontana, Chaco. (H3514)<br />
        </p>
        
    </div>
        <div class="col">
            <p><h5>Visitanos guiandote con el mapa:<br />
                <br /></h5>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d885.413813181661!2d-59.03271657083496!3d-27.41768280846893!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94450b028a30bf01%3A0x8cc0b1c2a708a8de!2sFundaci%C3%B3n%20Memorias%20de%20Nuestro%20Pueblo!5e0!3m2!1ses-419!2sar!4v1661616709126!5m2!1ses-419!2sar" width="400" height="300" style="border:10;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                 <br />
                 <br />
                 <br />
                </p>
        </div>
    </div>
</div>

<div class="container text-center">
    <div class="row">
    <div class="col">
        <ul class="list-group list-group-horizontal text-start">
            <li class="list-group-item list-group-item-action bg-transparent"><p class="text-start fst-italic fs-6">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-envelope-exclamation-fill" viewBox="0 0 16 16">
                        <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.026A2 2 0 0 0 2 14h6.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586l-1.239-.757ZM16 4.697v4.974A4.491 4.491 0 0 0 12.5 8a4.49 4.49 0 0 0-1.965.45l-.338-.207L16 4.697Z"/>
                        <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1.5a.5.5 0 0 1-1 0V11a.5.5 0 0 1 1 0Zm0 3a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Z"/>
                    </svg>
                Escribinos: fundacionmemoria@gmail.com<br /></p></li>
                <li class="list-group-item list-group-item-action bg-transparent"><a class="text-muted" href="https://www.facebook.com/fundacionmemorias" target="_blank"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg>&nbsp; &nbsp;www.facebook.com/fundacionmemorias</a></li>
        </ul> 
        
    <div class="col">
        <ul class="list-group list-group-horizontal text-start">        
                <li class="list-group-item list-group-item-action bg-transparent"><p class="text-start fst-italic fs-6">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-inbound-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511zM15.854.146a.5.5 0 0 1 0 .708L11.707 5H14.5a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 1 0v2.793L15.146.146a.5.5 0 0 1 .708 0z"/>
                    </svg>
                    Llamanos: +54-3624-395069</p>          
            
            <li class="list-group-item list-group-item-action bg-transparent"><p class="text-start fs-6"><a class="text-muted" href="https://www.instagram.com/fundacionmemoriasfontana/" target="_blank"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg>&nbsp; &nbsp;www.instagram.com/fundacionmemoriasfontana</a></p></li>
        
        </ul>  
        
    </div>
    </div>
    </div>
</div>

{% endblock %}