{% extends 'base.html' %}
{% load static %}
{% block contenidos %}

<style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 992px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(241, 235, 235, 0.1);
        border: solid rgba(241, 238, 238, 0.15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(235, 231, 231, 0.1), inset 0 .125em .5em rgba(226, 224, 224, 0.15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
    </style>    


 
<nav class="navbar navbar-expand-md navbar-dark">

        <h1 class="rounded mx-auto d-block"> Programa de Radio </h1>
</nav>

    
  <div >     
    <video width="500" height="500" controls class="rounded mx-auto d-block">
      <source src="{% static 'videos/301550031_5201354349992479_5840857642812400300_n.mp4' %}" type="video/mp4">
      <source src="{% static 'videos/301550031_5201354349992479_5840857642812400300_n.mp4' %}" type="video/ogg">
    </video>
    <div dir="rounded mx-auto d-block" style="text-align: start;"class="text-center" >La Chimenea RadioFontana MEMORIAS DE FONTANA      
      </div>
      <div dir="rounded mx-auto d-block" style="text-align: start;"class="text-center" >Emisión 24 de Agosto de 2022 Bloque 4 Tema: El Circo</div>   
    <video width="500" height="500" controls class="rounded mx-auto d-block">
      <source src="{% static 'videos/10000000_394508199469127_5506344023269033715_n.mp4' %}" type="video/mp4">
      <source src="{% static 'videos/10000000_394508199469127_5506344023269033715_n.mp4' %}" type="video/ogg">
    </video>
    <div dir="rounded mx-auto d-block" style="text-align: start;"class="text-center" >La Chimenea RadioFontana MEMORIAS DE FONTANA      
      </div>
      <div dir="rounded mx-auto d-block" style="text-align: start;"class="text-center">Emisión 24 de Agosto de 2022 Bloque 3 Tema: El Circo</div>
  </div>
  
      <div>
        <video width="500" height="500" controls class="rounded mx-auto d-block">
          <source src="{% static 'videos/10000000_585496096562760_6089387513879471978_n.mp4' %}" type="video/mp4">
          <source src="{% static 'videos/10000000_585496096562760_6089387513879471978_n.mp4' %}" type="video/ogg">
        </video>
        <div dir="rounded mx-auto d-block" style="text-align: start;"class="text-center" >La Chimenea RadioFontana MEMORIAS DE FONTANA      
        </div>
        <div dir="rounded mx-auto d-block" style="text-align: start;"class="text-center">Emisión 24 de Agosto de 2022 Bloque 2 Tema: El Circo</div>
        <video width="500" height="500" controls class="rounded mx-auto d-block">
          <source src="{% static 'videos/10000000_778655733337542_3281245947063877884_n.mp4' %}" type="video/mp4">
          <source src="{% static 'videos/10000000_778655733337542_3281245947063877884_n.mp4' %}" type="video/ogg">
        </video> 
        <div dir="rounded mx-auto d-block" style="text-align: start;"class="text-center" >La Chimenea RadioFontana MEMORIAS DE FONTANA      
        </div>
        <div dir="rounded mx-auto d-block" style="text-align: start;"class="text-center">Emisión 24 de Agosto de 2022 Bloque 1 Tema: El Circo</div>
      </div>
      <div>
        <video width="500" height="500" controls class="rounded mx-auto d-block">
          <source src="{% static 'videos/10000000_5207602356029882_5766114532222550577_n.mp4' %}" type="video/mp4">
          <source src="{% static 'videos/10000000_5207602356029882_5766114532222550577_n.mp4' %}" type="video/ogg">
        </video>
        <div dir="rounded mx-auto d-block" style="text-align: start;"class="text-center" >La Chimenea RadioFontana MEMORIAS DE FONTANA      
        </div>
        <div dir="rounded mx-auto d-block" style="text-align: start;"class="text-center">Bienal 2022</div>
      <div>
        <video width="500" height="500" controls class="rounded mx-auto d-block">
          <source src="{% static 'videos/10000000_204028578620575_2722123981993014206_n.mp4' %}" type="video/mp4">
          <source src="{% static 'videos/10000000_204028578620575_2722123981993014206_n.mp4' %}" type="video/ogg">
        </video>
        <div dir="rounded mx-auto d-block" style="text-align: start;"class="text-center" >La Chimenea RadioFontana MEMORIAS DE FONTANA      
        </div>
        <div dir="rounded mx-auto d-block" style="text-align: start;"class="text-center">Bienal 2022</div>
      <div>
        <video width="500" height="500" controls class="rounded mx-auto d-block">
          <source src="{% static 'videos/10000000_459830885589805_8031555164872286834_n.mp4' %}" type="video/mp4">
          <source src="{% static 'videos/10000000_459830885589805_8031555164872286834_n.mp4' %}" type="video/ogg">
        </video>
        <div dir="rounded mx-auto d-block" style="text-align: start;"class="text-center" >La Chimenea RadioFontana MEMORIAS DE FONTANA      
        </div>
        <div dir="rounded mx-auto d-block" style="text-align: start;"class="text-center">Bienal 2022</div>
        <video width="500" height="500" controls class="rounded mx-auto d-block">
          <source src="{% static 'videos/10000000_455919426069865_7270332039285335148_n.mp4' %}" type="video/mp4">
          <source src="{% static 'videos/10000000_455919426069865_7270332039285335148_n.mp4' %}" type="video/ogg">
        </video> 
        <div dir="rounded mx-auto d-block" style="text-align: start;"class="text-center" >La Chimenea RadioFontana MEMORIAS DE FONTANA      
        </div>
        <div dir="rounded mx-auto d-block" style="text-align: start;"class="text-center">Bienal 2022</div>
      </div>


{% endblock %}